Repository seanpham99/portfolios-tracker: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm -C apps/web exec eslint --config eslint.config.js --fix, prettier --write, pnpm -C services/api exec eslint --config eslint.config.mjs --fix

chore: update sprint status and mark lint-staged & husky pre-commit story as done
  _bmad-output/implementation-artifacts/sprint-status.yaml
  _bmad-output/implementation-artifacts/stories/prep-4-2-lint-staged-husky-pre-commit.md
Due: prettier --write

fix: update asset symbol formatting and improve upsert logic in sync_assets function
  apps/web/src/components/asset/trading-view-widget.tsx
  services/data-pipeline/dags/sync_assets_to_postgres.py
  supabase/migrations/20251227120000_create_assets_table.sql
Due: pnpm -C apps/web exec eslint --config eslint.config.js --fix, prettier --write

chore: update typescript version to use tilde for minor version consistency
  .github/workflows/test.yml
  .husky/pre-commit
  .syncpackrc.json
  CONTRIBUTING.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  _bmad-output/implementation-artifacts/stories/prep-6-1-syncpack-version-consistency.md
  apps/web/package.json
  package.json
  packages/api-types/package.json
  packages/database-types/package.json
  packages/ui/package.json
  pnpm-lock.yaml
  services/api/package.json
Due: prettier --write

refactor: remove unused components and hooks, clean up codebase
  .github/workflows/test.yml
  .knipignore
  CONTRIBUTING.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  _bmad-output/implementation-artifacts/stories/prep-6-1-syncpack-version-consistency.md
  _bmad-output/implementation-artifacts/stories/prep-6-2-knip-dead-code-detection.md
  apps/web/src/components/analytics-overlay.tsx
  apps/web/src/components/button.tsx
  apps/web/src/components/common/methodology-panel.tsx
  apps/web/src/components/dashboard-layout.tsx
  apps/web/src/components/focus-modal.tsx
  apps/web/src/components/transaction-modal.tsx
  apps/web/src/hooks/use-mobile.ts
  apps/web/src/stores/mock-data.ts
  knip.json
  package.json
  packages/vite-config/package.json
  pnpm-lock.yaml
  services/api/src/portfolios/decorators/index.ts
Due: pnpm -C apps/web exec eslint --config eslint.config.js --fix, prettier --write, pnpm -C services/api exec eslint --config eslint.config.mjs --fix

feat: implement module boundaries enforcement with Sheriff and update CONTRIBUTING.md
  CONTRIBUTING.md
  _bmad-output/implementation-artifacts/stories/prep-6-3-sheriff-import-boundaries.md
  package.json
  packages/eslint-config/index.js
  sheriff.config.ts
Due: prettier --write

feat: tech-debt-4 init
  CONTRIBUTING.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  _bmad-output/implementation-artifacts/stories/tech-debt-3-layout-component-consistency.md
  _bmad-output/implementation-artifacts/stories/tech-debt-4-shadcn-component-replacements.md
  apps/web/CHANGELOG.md
  apps/web/package.json
  apps/web/src/components/app-sidebar.test.tsx
  apps/web/src/components/app-sidebar.tsx
  apps/web/src/features/analytics/performance-dashboard.test.tsx
  apps/web/src/features/analytics/time-range-selector.test.tsx
  apps/web/src/features/analytics/time-range-selector.tsx
  apps/web/src/features/portfolio/hooks/use-portfolios.test.tsx
  apps/web/src/features/portfolio/unified-holdings-table.test.tsx
  apps/web/src/hooks/use-mobile.test.ts
  apps/web/src/hooks/use-mobile.ts
  apps/web/src/routes/_protected._layout.tsx
  packages/ui/CHANGELOG.md
  packages/ui/components.json
  packages/ui/package.json
  packages/ui/src/components/button.tsx
  packages/ui/src/components/input.tsx
  packages/ui/src/components/separator.tsx
  packages/ui/src/components/sheet.tsx
  packages/ui/src/components/sidebar.tsx
  packages/ui/src/components/skeleton.tsx
  packages/ui/src/components/tooltip.tsx
  packages/ui/src/styles/globals.css
  pnpm-lock.yaml
Due: pnpm -C apps/web exec eslint --config eslint.config.js --fix, prettier --write

feat: Implement full Supabase-backed authentication flow including signup, login, password management, protected routes, and core app infrastructure.
  apps/web/src/app/(auth)/callback/route.ts
  apps/web/src/app/(auth)/confirm/route.ts
  apps/web/src/app/(auth)/forgot-password/page.tsx
  apps/web/src/app/(auth)/layout.tsx
  apps/web/src/app/(auth)/login/actions.ts
  apps/web/src/app/(auth)/login/page.tsx
  apps/web/src/app/(auth)/signup/page.tsx
  apps/web/src/app/(auth)/update-password/page.tsx
  apps/web/src/app/(protected)/dashboard/page.tsx
  apps/web/src/app/(protected)/history/page.tsx
  apps/web/src/app/(protected)/layout.tsx
  apps/web/src/app/(protected)/settings/page.tsx
  apps/web/src/app/layout.tsx
  apps/web/src/app/providers.tsx
  apps/web/src/components/app-sidebar.tsx
  apps/web/src/lib/supabase/client.ts
  apps/web/src/lib/supabase/server.ts
  apps/web/src/middleware.ts
  turbo.json
Due: pnpm -C apps/web exec eslint --config eslint.config.js --fix, prettier --write

fix: Prevent message submission on Enter key press during CJK input composition.
  apps/web/src/app/auth/callback/route.ts
  apps/web/src/app/auth/confirm/route.ts
Due: pnpm -C apps/web exec eslint --config eslint.config.js --fix, prettier --write

feat: Implement the dashboard page with client/server data fetching, React Query setup, and portfolio display functionality.
  apps/web/src/api/server.ts
  apps/web/src/app/(protected)/dashboard/dashboard-client.tsx
  apps/web/src/app/(protected)/dashboard/page.tsx
  apps/web/src/app/providers.tsx
  apps/web/src/lib/api.ts
  apps/web/src/lib/get-query-client.ts
  apps/web/src/lib/mockPrices.ts
Due: pnpm -C apps/web exec eslint --config eslint.config.js --fix, prettier --write

feat: Implement a new form component system along with Volume in drive C: has no label Volume Serial Number is 6456-217A and UI components.
  packages/ui/src/components/button.tsx
  packages/ui/src/components/form.tsx
  packages/ui/src/components/label.tsx
Due: none

feat: remove unused packages and update exchange identifiers in ConnectionsService
  pnpm-lock.yaml
  services/api/src/crypto/connections.service.ts
  turbo.json
Due: prettier --write, pnpm -C services/api exec eslint --config eslint.config.mjs --fix

refactor: remove deprecated vite-config package
  knip.json
  packages/vite-config/.gitignore
  packages/vite-config/eslint.config.js
  packages/vite-config/package.json
  packages/vite-config/src/index.ts
  packages/vite-config/tsconfig.json
Due: prettier --write

feat: Add initial project planning documents and core web application UI components.
  README.MD
  _bmad-output/architecture.md
  _bmad-output/prd.md
  _bmad-output/project-context.md
  _bmad-output/project-planning-artifacts/testarch/system-test-design.md
  _bmad-output/project-planning-artifacts/ux/ux-design-specification.md
  apps/web/package.json
  apps/web/src/app/(protected)/layout.tsx
  apps/web/src/components/app-sidebar.tsx
  packages/eslint-config/package.json
  packages/shared-types/package.json
  packages/ui/package.json
  pnpm-lock.yaml
  services/api/package.json
Due: pnpm -C apps/web exec eslint --config eslint.config.js --fix, prettier --write

chore: update web app's ESLint configuration file extension from `.js` to `.mjs` in lint-staged
  .lintstagedrc.json
Due: prettier --write

feat: introduce shared vitest-config
  apps/web/package.json
  apps/web/src/components/app-sidebar.tsx
  apps/web/src/features/analytics/use-performance-data.test.tsx
  apps/web/src/features/analytics/use-performance-data.ts
  apps/web/src/features/portfolio/hooks/use-portfolios.test.tsx
  apps/web/src/features/portfolio/portfolio-card.test.tsx
  apps/web/src/features/portfolio/unified-holdings-table.test.tsx
  apps/web/src/lib/mockPrices.ts
  apps/web/src/test/test-utils.tsx
  apps/web/tsconfig.json
  apps/web/vitest.config.ts
  packages/typescript-config/base.app.json
  packages/typescript-config/base.json
  packages/typescript-config/base.node.json
  packages/typescript-config/nextjs.json
  packages/typescript-config/react-library.json
  packages/ui/package.json
  packages/ui/src/components/form.tsx
  packages/ui/tsconfig.app.json
  packages/ui/tsconfig.lint.json
  packages/ui/tsconfig.node.json
  packages/vitest-config/base.ts
  packages/vitest-config/index.d.ts
  packages/vitest-config/index.js
  packages/vitest-config/package.json
  packages/vitest-config/setup.ts
  pnpm-lock.yaml
  services/api/src/crypto/crypto.utils.ts
  services/api/src/portfolios/portfolios.service.spec.ts
  services/api/src/portfolios/portfolios.service.ts
  services/api/tsconfig.json
Due: pnpm -C apps/web exec eslint --config eslint.config.js --fix, prettier --write, pnpm -C services/api exec eslint --config eslint.config.mjs --fix

feat: generate initial project planning artifacts
  _bmad-output/bmm-workflow-status.yaml
  _bmad-output/epics.md
  _bmad-output/implementation-readiness-report-2026-01-15.md
Due: prettier --write

feat: add initial sprint status tracking file with epic and story definitions
  _bmad-output/implementation-artifacts/sprint-status.yaml
Due: prettier --write

feat: add initial ui-ux-pro-max-skill data, guidelines, and supporting scripts
  .agent/workflows/ui-ux-pro-max.md
  .shared/ui-ux-pro-max/data/charts.csv
  .shared/ui-ux-pro-max/data/colors.csv
  .shared/ui-ux-pro-max/data/icons.csv
  .shared/ui-ux-pro-max/data/landing.csv
  .shared/ui-ux-pro-max/data/products.csv
  .shared/ui-ux-pro-max/data/prompts.csv
  .shared/ui-ux-pro-max/data/stacks/flutter.csv
  .shared/ui-ux-pro-max/data/stacks/html-tailwind.csv
  .shared/ui-ux-pro-max/data/stacks/nextjs.csv
  .shared/ui-ux-pro-max/data/stacks/nuxt-ui.csv
  .shared/ui-ux-pro-max/data/stacks/nuxtjs.csv
  .shared/ui-ux-pro-max/data/stacks/react-native.csv
  .shared/ui-ux-pro-max/data/stacks/react.csv
  .shared/ui-ux-pro-max/data/stacks/shadcn.csv
  .shared/ui-ux-pro-max/data/stacks/svelte.csv
  .shared/ui-ux-pro-max/data/stacks/swiftui.csv
  .shared/ui-ux-pro-max/data/stacks/vue.csv
  .shared/ui-ux-pro-max/data/styles.csv
  .shared/ui-ux-pro-max/data/typography.csv
  .shared/ui-ux-pro-max/data/ux-guidelines.csv
  .shared/ui-ux-pro-max/scripts/core.py
  .shared/ui-ux-pro-max/scripts/search.py
Due: prettier --write

feat: revamp home page
  _bmad-output/project-planning-artifacts/ux/ux-design-specification.md
  apps/web/package.json
  apps/web/src/app/(marketing)/page.tsx
  apps/web/src/app/globals.css
  apps/web/src/features/marketing/components/cta-section.tsx
  apps/web/src/features/marketing/components/features-section.tsx
  apps/web/src/features/marketing/components/hero-section.tsx
  apps/web/src/features/marketing/components/marketing-footer.tsx
  apps/web/src/features/marketing/components/marketing-header.tsx
  apps/web/src/features/marketing/components/pricing-section.tsx
  apps/web/src/features/marketing/components/testimonials-section.tsx
  apps/web/src/lib/supabase/client.ts
  apps/web/src/lib/supabase/middleware.ts
  apps/web/src/lib/supabase/server.ts
  apps/web/src/proxy.ts
  packages/ui/STYLE_GUIDE.md
  packages/ui/package.json
  packages/ui/src/styles/globals.css
  pnpm-lock.yaml
  services/api/package.json
  turbo.json
Due: pnpm -C apps/web exec eslint --config eslint.config.js --fix, prettier --write

Saved progress at the end of the loop
  .replit
Due: none

feat: implement sidebar
  apps/web/src/app/(protected)/dashboard/dashboard-client.tsx
  apps/web/src/app/(protected)/layout.tsx
  apps/web/src/components/app-sidebar.tsx
  apps/web/src/features/portfolio/portfolio-card.tsx
  packages/ui/src/components/sidebar.tsx
Due: pnpm -C apps/web exec eslint --config eslint.config.js --fix, prettier --write

feat: Implement FIFO holdings calculation
  _bmad-output/implementation-artifacts/epic-2-retrospective.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  packages/shared-types/src/api/transaction.dto.ts
  packages/shared-types/src/database/supabase-types.ts
  services/api/src/portfolios/portfolios.service.spec.ts
  services/api/src/portfolios/portfolios.service.ts
  supabase/migrations/20251227190000_create_transactions_table.sql
  supabase/migrations/20260116100000_add_exchange_rate_to_transactions.sql
Due: prettier --write, pnpm -C services/api exec eslint --config eslint.config.mjs --fix

feat: remove deprecated workflow file
  _bmad-output/bmm-workflow-status.yaml
  _bmad-output/project-planning-artifacts/bmm-workflow-status.yaml
Due: prettier --write

Update the required package manager version for the project
  package.json
Due: prettier --write

Update package manager to a stable version
  .npmrc
  package.json
Due: prettier --write

Update package manager version to ensure proper installation
  .replit
  package.json
Due: prettier --write

Update application ports for development servers
  .replit
  apps/web/next.config.ts
  apps/web/package.json
  services/api/src/main.ts
Due: pnpm -C apps/web exec eslint --config eslint.config.js --fix, prettier --write, pnpm -C services/api exec eslint --config eslint.config.mjs --fix

Update the application to use the correct port for deployment
  .replit
  apps/web/package.json
Due: prettier --write

Create a build script to correctly configure and build project packages
  .replit
  scripts/deploy-build.sh
Due: none

Update build script to prevent pnpm installation loop
  scripts/deploy-build.sh
Due: none

Address potential undefined values and correct type definitions in application components
  apps/web/src/app/(protected)/dashboard/dashboard-client.tsx
  apps/web/src/features/marketing/components/testimonials-section.tsx
Due: pnpm -C apps/web exec eslint --config eslint.config.js --fix, prettier --write

feat: update Replit environment port configuration
  .replit
  apps/web/src/app/(auth)/login/actions.ts
  package.json
  replit.md
  services/api/src/main.ts
Due: pnpm -C apps/web exec eslint --config eslint.config.js --fix, prettier --write, pnpm -C services/api exec eslint --config eslint.config.mjs --fix

Path conditions:
  pnpm -C apps/web exec eslint --config eslint.config.js --fix: any of: apps/web/**/*.{ts,tsx}
  prettier --write: ((any of: apps/web/**/*.{ts,tsx}) or (any of: services/api/**/*.{ts,tsx,js})) or (any of: **/*.{json,md,yaml,yml})
  pnpm -C services/api exec eslint --config eslint.config.mjs --fix: any of: services/api/**/*.{ts,tsx,js}
