Repository seanpham99/portfolios-tracker: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm -C apps/web exec eslint --config eslint.config.js --fix, prettier --write, pnpm -C services/api exec eslint --config eslint.config.mjs --fix

.lintstagedrc.json:

{
  "apps/web/**/*.{ts,tsx}": [
    "pnpm -C apps/web exec eslint --config eslint.config.js --fix",
    "prettier --write"
  ],
  "services/api/**/*.{ts,tsx,js}": [
    "pnpm -C services/api exec eslint --config eslint.config.mjs --fix",
    "prettier --write"
  ],
  "**/*.{json,md,yaml,yml}": ["prettier --write"]
}

feat: add shadcn sidebar docs and current problem with the implemented sidebar
  attached_assets/Pasted--title-Sidebar-description-A-composable-themeable-and-c_1768540432631.txt
  attached_assets/image_1768540406091.png
Due: none

Improve sidebar functionality and appearance across different screen sizes
  apps/web/src/app/(protected)/layout.tsx
  attached_assets/image_1768539612934.png
  packages/ui/src/components/sidebar.tsx
  packages/ui/src/hooks/use-mobile.ts
Due: pnpm -C apps/web exec eslint --config eslint.config.js --fix, prettier --write

Saved your changes before starting work
  .replit
  attached_assets/targeted_element_1768538401362.png
Due: none

Update project configuration to ensure correct port usage
  .replit
  package.json
Due: prettier --write

Fix layout issue causing sidebar to disappear on mobile
  .replit
  attached_assets/targeted_element_1768542093334.png
Due: none

feat: update shadcn sidebar
  apps/web/components.json
  packages/ui/src/components/separator.tsx
  packages/ui/src/components/sidebar.tsx
  packages/ui/src/components/tooltip.tsx
  pnpm-lock.yaml
Due: prettier --write

fix: tailwind css render
  .npmrc
  apps/web/postcss.config.mjs
  apps/web/src/app/(auth)/login/page.tsx
  apps/web/template.env.local
  packages/ui/package.json
  packages/ui/postcss.config.mjs
  pnpm-lock.yaml
Due: pnpm -C apps/web exec eslint --config eslint.config.js --fix, prettier --write

Add a test route to display and check the sidebar layout
  apps/web/src/app/test-dashboard/layout.tsx
  apps/web/src/app/test-dashboard/page.tsx
Due: pnpm -C apps/web exec eslint --config eslint.config.js --fix, prettier --write

Fix sidebar layout to prevent content overlap
  apps/web/src/app/test-dashboard/layout.tsx
  apps/web/src/app/test-dashboard/page.tsx
  packages/ui/src/components/sidebar.tsx
Due: pnpm -C apps/web exec eslint --config eslint.config.js --fix, prettier --write

Configure Tailwind CSS v4 for proper workspace package scanning
  apps/web/src/app/test-dashboard/layout.tsx
  apps/web/src/app/test-dashboard/page.tsx
  packages/ui/postcss.config.mjs
  packages/ui/src/components/sidebar.tsx
  packages/ui/src/styles/globals.css
Due: pnpm -C apps/web exec eslint --config eslint.config.js --fix, prettier --write

Update project configuration for reliable Tailwind CSS integration
  apps/web/src/app/test-dashboard/layout.tsx
  apps/web/src/app/test-dashboard/page.tsx
  replit.md
Due: pnpm -C apps/web exec eslint --config eslint.config.js --fix, prettier --write

feat: revamp asset detail and portfolio page ui
  apps/web/src/app/(protected)/portfolio/[id]/asset/[symbol]/page.tsx
  apps/web/src/app/(protected)/portfolio/[id]/page.tsx
  apps/web/src/features/portfolio/trading-view-widget.tsx
Due: pnpm -C apps/web exec eslint --config eslint.config.js --fix, prettier --write

feat: adjust sidebar and dashboard component ui
  apps/web/src/app/(protected)/dashboard/dashboard-client.tsx
  apps/web/src/components/layout/app-sidebar.tsx
Due: pnpm -C apps/web exec eslint --config eslint.config.js --fix, prettier --write

feat: implement coingecko_id to crypto asset metadata
  apps/web/src/features/analytics/performance-metrics.tsx
  apps/web/src/features/portfolio/unified-holdings-table.tsx
  services/api/src/market-data/market-data.module.ts
  services/api/src/market-data/market-data.service.ts
  services/api/src/portfolios/portfolios.service.ts
  services/data-pipeline/dags/assets_dimension_etl.py
Due: pnpm -C apps/web exec eslint --config eslint.config.js --fix, prettier --write, pnpm -C services/api exec eslint --config eslint.config.mjs --fix

chore: epic 3 retro
  _bmad-output/epics.md
  _bmad-output/implementation-artifacts/epic-3-retro-2026-01-17.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
Due: prettier --write

chore: update sprint status
  _bmad-output/implementation-artifacts/4-1-cross-provider-asset-discovery.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
Due: prettier --write

feat: implement portfolio snapshot
  _bmad-output/implementation-artifacts/4-4-data-source-reliability-staleness-controls.md
  _bmad-output/implementation-artifacts/4-4-review-report.md
  _bmad-output/implementation-artifacts/4-6-portfolio-analytics-history.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  apps/web/package.json
  apps/web/src/features/portfolio/hooks/use-history.ts
  apps/web/src/features/portfolio/portfolio-history-chart.tsx
  packages/shared-types/package.json
  packages/shared-types/src/api/index.ts
  packages/shared-types/src/api/portfolio-history.dto.ts
  packages/shared-types/src/database/supabase-types.ts
  pnpm-lock.yaml
  services/api/src/portfolios/portfolios.controller.ts
  services/api/src/portfolios/portfolios.module.ts
  services/api/src/portfolios/portfolios.service.ts
  services/api/src/portfolios/snapshot.service.spec.ts
  services/api/src/portfolios/snapshot.service.ts
  supabase/migrations/20260118000000_create_portfolio_snapshots.sql
Due: pnpm -C apps/web exec eslint --config eslint.config.js --fix, prettier --write, pnpm -C services/api exec eslint --config eslint.config.mjs --fix

chore: update docs
  GEMINI.md
  README.MD
  _bmad-output/architecture.md
  _bmad-output/epics.md
  _bmad-output/implementation-artifacts/4-7-scheduled-snapshot-job.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  _bmad-output/implementation-readiness-report-2026-01-15.md
  _bmad-output/project-context.md
Due: prettier --write

chore(data-pipeline): migrate dependency management from pip to uv
  services/data-pipeline/.python-version
  services/data-pipeline/Dockerfile
  services/data-pipeline/README.md
  services/data-pipeline/pyproject.toml
  services/data-pipeline/requirements.txt
  services/data-pipeline/run_tests.sh
  services/data-pipeline/uv.lock
  uv-migration-data-pipeline.md
Due: prettier --write

docs: update document
  _bmad-output/implementation-artifacts/5-1-binance-api-sync-read-only.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  _bmad-output/project-context.md
  docs/architecture-api.md
  docs/architecture-data-pipeline.md
  docs/architecture-web.md
  docs/index.md
  docs/project-overview.md
  docs/project-scan-report.json
  docs/source-tree-analysis.md
  replit.md
  uv-migration-data-pipeline.md
Due: prettier --write

simplify clickhouse init
  services/data-pipeline/.env.example
  services/data-pipeline/docker-compose.yaml
  services/data-pipeline/scripts/init_clickhouse_schema.py
Due: prettier --write

chore: update antigravity agent skills
  .agent/agents/game-developer.md
  .agent/skills/backend-dev-guidelines/SKILL.md
  .agent/skills/backend-dev-guidelines/resources/architecture-overview.md
  .agent/skills/backend-dev-guidelines/resources/async-and-errors.md
  .agent/skills/backend-dev-guidelines/resources/complete-examples.md
  .agent/skills/backend-dev-guidelines/resources/configuration.md
  .agent/skills/backend-dev-guidelines/resources/database-patterns.md
  .agent/skills/backend-dev-guidelines/resources/middleware-guide.md
  .agent/skills/backend-dev-guidelines/resources/routing-and-controllers.md
  .agent/skills/backend-dev-guidelines/resources/sentry-and-monitoring.md
  .agent/skills/backend-dev-guidelines/resources/services-and-repositories.md
  .agent/skills/backend-dev-guidelines/resources/testing-guide.md
  .agent/skills/backend-dev-guidelines/resources/validation-patterns.md
  .agent/skills/concise-planning/SKILL.md
  .agent/skills/game-development/2d-games/SKILL.md
  .agent/skills/game-development/3d-games/SKILL.md
  .agent/skills/game-development/SKILL.md
  .agent/skills/game-development/game-art/SKILL.md
  .agent/skills/game-development/game-audio/SKILL.md
  .agent/skills/game-development/game-design/SKILL.md
  .agent/skills/game-development/mobile-games/SKILL.md
  .agent/skills/game-development/multiplayer/SKILL.md
  .agent/skills/game-development/pc-games/SKILL.md
  .agent/skills/game-development/vr-ar/SKILL.md
  .agent/skills/game-development/web-games/SKILL.md
  .agent/skills/git-pushing/SKILL.md
  .agent/skills/git-pushing/scripts/smart_commit.sh
  .agent/skills/kaizen/SKILL.md
  .agent/skills/lint-and-validate copy/SKILL.md
  .agent/skills/lint-and-validate copy/scripts/lint_runner.py
  .agent/skills/lint-and-validate copy/scripts/type_coverage.py
  .agent/skills/mcp-builder/SKILL.md
  .claude/commands/bmad/core/tasks/advanced-elicitation.md
  .claude/commands/bmad/core/tasks/index-docs.md
  .claude/commands/bmad/core/tools/shard-doc.md
Due: prettier --write

feat: redesign pages to follow style guide
  apps/web/src/app/(protected)/asset/[symbol]/page.tsx
  apps/web/src/app/(protected)/dashboard/dashboard-client.tsx
  apps/web/src/app/(protected)/portfolio/[id]/asset/[symbol]/page.tsx
  apps/web/src/components/layout/app-sidebar.tsx
  apps/web/src/features/portfolio/unified-holdings-table.tsx
Due: pnpm -C apps/web exec eslint --config eslint.config.js --fix, prettier --write

feat: enrich holding asset page
  apps/web/src/app/(protected)/portfolio/[id]/asset/[symbol]/page.tsx
  apps/web/src/features/transactions/asset-autocomplete.tsx
  apps/web/src/features/transactions/transaction-form.tsx
Due: pnpm -C apps/web exec eslint --config eslint.config.js --fix, prettier --write

feat: Implement crypto exchange API integration for Binance and OKX, including connection management, balance synchronization, and related UI.
  _bmad-output/implementation-artifacts/5-1-binance-api-sync-read-only.md
  _bmad-output/implementation-artifacts/5-2-okx-api-sync-read-only.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  apps/web/src/app/(protected)/connections/page.tsx
  apps/web/src/app/(protected)/portfolio/[id]/asset/[symbol]/page.tsx
  apps/web/src/features/connections/components/connection-form.tsx
  apps/web/src/features/connections/index.ts
  apps/web/src/features/portfolio/unified-holdings-table.tsx
  packages/shared-types/src/api/connection.dto.ts
  packages/shared-types/src/database/supabase-types.ts
  services/api/src/crypto/connections.controller.ts
  services/api/src/crypto/connections.module.ts
  services/api/src/crypto/connections.service.ts
  services/api/src/crypto/crypto.utils.spec.ts
  services/api/src/crypto/exchange-sync.service.spec.ts
  services/api/src/crypto/exchange-sync.service.ts
  services/api/src/crypto/exchange.registry.ts
  services/api/src/crypto/interfaces/exchange-provider.interface.ts
  services/api/src/crypto/okx.service.spec.ts
  services/api/src/crypto/okx.service.ts
  supabase/migrations/20260130000000_add_passphrase_to_connections.sql
Due: pnpm -C apps/web exec eslint --config eslint.config.js --fix, prettier --write, pnpm -C services/api exec eslint --config eslint.config.mjs --fix

feat: Implement initial connections management for crypto exchanges with API, UI, and database types.
  _bmad-output/implementation-artifacts/5-3-connections-management-hub.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  apps/web/src/api/client.ts
  apps/web/src/app/(protected)/connections/page.tsx
  apps/web/src/features/connections/components/connection-card.test.tsx
  apps/web/src/features/connections/components/connection-card.tsx
  apps/web/src/features/connections/components/connection-card.tsx.disabled
  apps/web/src/features/connections/hooks/use-connections.ts
  packages/shared-types/src/database/supabase-types.ts
  services/api/src/crypto/connections.controller.spec.ts
  services/api/src/crypto/connections.controller.ts
  services/api/src/crypto/connections.service.ts
  services/api/src/crypto/exchange-sync.service.spec.ts
Due: pnpm -C apps/web exec eslint --config eslint.config.js --fix, prettier --write, pnpm -C services/api exec eslint --config eslint.config.mjs --fix
